<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css">
    <script src="index.js"></script>
</head>

<body>
        <div id="navbar">
            <div id="logo">
                <p>ROOM.IE</p>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="Login">Login</a></li>
                </ul>
            </div>
        </div>