<%- include('partials/header') %>

    <div id="content">
        <h2>Search & find roommates <br> in your destination</h2>
        <div id="search">
            <div id="placeholders">
                <p>Search for a city</p>
                <p>Move in date</p>
                <p>Move out date</p>
            </div>
            <form id="form" action="/search" method="GET">
                <input type="text" name="city">
                <input type="month" name="moveInDate" placeholder="Move in date" >
                <input type="month" name="moveOutDate" placeholder="Move out date">
            </form>
            <button form="form" type="submit">Search</button>
        </div>

<%- include('partials/footer') %>