<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css">
    <script src="index.js"></script>
</head>

<body>
        <div id="navbar">
            <div id="logo">
                <p>ROOM.IE</p>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            <h2>Search & find roommates <br> in your destination</h2>
            <div id="search">
                <div id="placeholders">
                    <p>Search for a city</p>
                    <p>Move in date</p>
                    <p>Move out date</p>
                </div>
                <form action="/search" method="POST">
                    <input type="text" name="search">
                    <input type="month" name="moveInDate" placeholder="Move in date" >
                    <input type="month" name="moveOutDate" placeholder="Move out date">
                </form>
                <button type="submit">Search</button>
            </div>
</body>
</html>
