<%- include('partials/header') %>

<html lang="en">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Log in!</title>      
        <link rel="stylesheet" type="text/css" media="screen" href="css/index.css">
    </head>   
    <body>
        <div class="page-container">
            <div class="branding-container">
              <img
              class="logo"
              src="https://www.wawanesa.com/resources/img/usa/blog-images/bigstock-Two-Black-Girlfriends-Having-F-394112669-min.jpg"
              width="500px"
              heigh="500px" />
              <div class="title-container">
                <span class="title">ROOM.IE</span>
                <span class="subtitle">Easy, safe and pleasant for everyone!</span>
              </div>
            </div>
        
      
            <form class="login-form">
              <input class="email-input" value="email"/>
              <input class="password-input" value="password" type="password"/>
              <button class="login-button">Sign In</button>
            </form>
          
          </div>
      
      </body> 
</html>

<%- include('partials/footer') %>