<%- include('partials/header') %>

        <div class="page-container">
            <div class="branding-container">
              <div class="title-container">
                <span class="title">ROOM.IE</span>
                <span class="subtitle">Easy, safe and pleasant for everyone!</span>
                <br>
                <span style="color: red" class="subtitle"> <%= text %> </span>

              </div>
            </div>
        
            <form class="login-form" action="/login" method="GET">
              <input name="username" class="email-input" placeholder="username"/>
              <input name="password" class="password-input" placeholder="password" type="password"/>
              <input name="password-repeat" class="password-input" placeholder="password" type="password"/>
              <a id="sign-up-href" href="/login"> Already have an account ? Login in</a>
              <br>
              <button class="login-button">Sign In</button>
            </form>
          
          </div>

<%- include('partials/footer') %>